######################## NOTE #########################
#*   This file describes the default AUTHC settings  *#
#*   !!   Uncommented variables are required   !!    *#
#######################################################

################## General Settings ###################
## Port that AUTHC will listen on
PORT=3002

## Logging Level Settings
LOG_LEVEL=INFO
LOG_HANDLER=console

## Cross-Origin Resource Sharing (CORS) Settings
ORIGIN=http://localhost:3001
SECURE=false

## URL used in recovery email to redirect user back to UI for updating their password
RECOVERY_REDIRECT_URL=http://localhost:3001/recovery/

#------------------- Client Mode ---------------------#
## Use AuthC in Client Mode which makes available UIs for Login, Registration,
## Account Recovery, and Profile
## If false, only the AuthC server APIs are available
CLIENT_MODE=true
## After a successful login, register profile update, redirect the user to your main
## appliation using the supplied URL below. 
CLIENT_ORIGIN=https://github.com/pmprosociety/authcompanion

#--------------------- Database ----------------------#
DB_USER=postgres
DATABASE=postgres
## Database hostname defaults to hostname of DB used in docker-compose
## Change value to 'localhost' if running AUTHC locally with your own DB
DB_HOSTNAME=db
DB_PASSWORD=mydbsecretpwd
DB_PORT=5432
MAX_DB_CONNECTIONS=20

#------------------- JWT Secrets ---------------------#
## Path to the key used to sign and verify JWTs used for access
KEY_PATH=./keyfile

#--------------------- Webhooks ----------------------#
## Supply a URL to recieve webhook notifications
## Notification includes a shared secret for verifying the request
## Webhook is triggered after a user has: logged in, registered, or updated their account.
# WEBHOOK_URL=
# WEBHOOK_SECRET=mywebhooksecret

#------------------- SMTP Options --------------------#
## SMTP settings for all outbound emails
SMTP_HOSTNAME=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USERNAME=bacbc970eaf84d
SMTP_PASSWORD=8ac0afa8cf2e19
FROM_ADDRESS=from@example.com
